TopSolution/GetTopItemLogic/Service References/WcfTopItemService/TopItemService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TopEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TopEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTopItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopItem" nillable="true" type="tns:TopItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopItem" nillable="true" type="tns:ArrayOfTopItem" />
  <xs:complexType name="TopItem">
    <xs:sequence>
      <xs:element name="_ClickUrl" nillable="true" type="xs:string" />
      <xs:element name="_Commission" nillable="true" type="xs:string" />
      <xs:element name="_CommissionNum" nillable="true" type="xs:string" />
      <xs:element name="_CommissionRate" nillable="true" type="xs:string" />
      <xs:element name="_CommissionVolume" nillable="true" type="xs:string" />
      <xs:element name="_CouponEndTime" nillable="true" type="xs:string" />
      <xs:element name="_CouponPrice" nillable="true" type="xs:string" />
      <xs:element name="_CouponRate" nillable="true" type="xs:string" />
      <xs:element name="_CouponStartTime" nillable="true" type="xs:string" />
      <xs:element name="_ItemLocation" nillable="true" type="xs:string" />
      <xs:element name="_KeywordClickUrl" nillable="true" type="xs:string" />
      <xs:element name="_Keywords" nillable="true" type="xs:string" />
      <xs:element name="_Nick" nillable="true" type="xs:string" />
      <xs:element name="_NumIid" type="xs:long" />
      <xs:element name="_PicUrl" nillable="true" type="xs:string" />
      <xs:element name="_Price" nillable="true" type="xs:string" />
      <xs:element name="_PromotionPrice" nillable="true" type="xs:string" />
      <xs:element name="_SellerCreditScore" type="xs:long" />
      <xs:element name="_SellerId" type="xs:long" />
      <xs:element name="_ShopClickUrl" nillable="true" type="xs:string" />
      <xs:element name="_ShopType" nillable="true" type="xs:string" />
      <xs:element name="_TaobaokeCatClickUrl" nillable="true" type="xs:string" />
      <xs:element name="_Title" nillable="true" type="xs:string" />
      <xs:element name="_Volume" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopItem" nillable="true" type="tns:TopItem" />
  <xs:complexType name="ArrayOfTopKeywords">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopKeywords" nillable="true" type="tns:TopKeywords" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopKeywords" nillable="true" type="tns:ArrayOfTopKeywords" />
  <xs:complexType name="TopKeywords">
    <xs:sequence>
      <xs:element name="_Id" type="xs:long" />
      <xs:element name="_Keywords" nillable="true" type="xs:string" />
      <xs:element name="_LastGetTime" type="xs:dateTime" />
      <xs:element name="_RefCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopKeywords" nillable="true" type="tns:TopKeywords" />
</xs:schema>