trunk/TopSolution/GetTopItemWindowsForms/Service References/WcfTopItemService/TopItemService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5000/WcfService/TopItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TopEntity" />
  <xs:element name="SaveTopItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TopEntity" minOccurs="0" name="items" nillable="true" type="q1:ArrayOfTopItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTopItemListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTopItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTopItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllKeywords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllKeywordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TopEntity" minOccurs="0" name="GetAllKeywordsResult" nillable="true" type="q2:ArrayOfTopKeywords" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>